/* Potlab
http://potlabicons.com/v1/
*/

#icon-award .circle {
    -webkit-animation-name: check;
    animation-name: check;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

#icon-award .check {
    -webkit-animation-name: check;
    animation-name: check;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@keyframes check {
    to {
            stroke-dashoffset: 0;
    }
}
#icon-compass .meter {
    -webkit-animation-name: meterturn;
    animation-name: meterturn;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes meterturn {
    0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }

    50% {
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    }

    100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
}

@keyframes meterturn {
    0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }

    50% {
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    }

    100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
}